@import "../../../../styles/config.scss";

@media all and (max-width: 1400px) {
  .line {
    display: none;
    &.right,
    &.left {
      &.line1 {
        display: block;
        top: 0;
        bottom: $container-padding;
      }
      &.line3 {
        display: block;
        top: $container-padding;
        left: calc((50% - #{$leading-line-width} / 2));
        bottom: $container-padding;
      }
      &.line5 {
        display: block;
        left: calc((50% - #{$leading-line-width} / 2));
        bottom: 0;
      }
    }
  }
}
