$secondary-color-dark: #2c061f;
$secondary-color-light: #374045;

$primary-color: #e1d89f;

$accent-color: #d89216;

$polaroid-color: #fff;

$leading-line-width: 2px;

@font-face {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/archivoblack/v10/HTxqL289NzCGg4MzN6KJ7eW6CYyF_g.woff2)
    format("woff2");
}

@font-face {
  font-family: "Handwritten";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../static/fonts/IndieFlower-Regular.ttf);
}

@mixin nonSelectingText {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

@mixin primaryFont {
  font-family: "Archivo Black", "Archivo", sans-serif;
}

@mixin handwrittenFont {
  @include nonSelectingText;
  font-family: "Handwritten", sans-serif;
}

@mixin neonFont {
  @include nonSelectingText;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  height: auto;
  color: $primary-color;
  animation: neonAnimation 3s infinite;
}

@mixin btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  cursor: pointer;
}

@keyframes neonAnimation {
  0% {
    text-shadow: -1px -1px 1px $primary-color, -1px 1px 1px $primary-color,
      1px -1px 1px $primary-color, 1px 1px 1px $primary-color,
      0 0 3px $primary-color, 0 0 5px $primary-color, 0 0 10px $primary-color,
      0 0 30px $accent-color, 0 0 30px $accent-color, 0 0 40px $accent-color,
      0 0 70px $accent-color, 0 0 90px $accent-color, 0 0 190px $accent-color;
  }
  50% {
    text-shadow: -1px -1px 1px $primary-color, -1px 1px 1px $primary-color,
      1px -1px 1px $primary-color, 1px 1px 1px $primary-color,
      0 0 5px $primary-color, 0 0 10px $primary-color, 0 0 15px $primary-color,
      0 0 40px $accent-color, 0 0 40px $accent-color, 0 0 50px $accent-color,
      0 0 80px $accent-color, 0 0 100px $accent-color, 0 0 200px $accent-color;
  }
  100% {
    text-shadow: -1px -1px 1px $primary-color, -1px 1px 1px $primary-color,
      1px -1px 1px $primary-color, 1px 1px 1px $primary-color,
      0 0 3px $primary-color, 0 0 5px $primary-color, 0 0 10px $primary-color,
      0 0 30px $accent-color, 0 0 30px $accent-color, 0 0 40px $accent-color,
      0 0 70px $accent-color, 0 0 90px $accent-color, 0 0 190px $accent-color;
  }
}
