$secondary-color-dark: #2c2727;
$secondary-color-light: #3e3939;

$primary-color: #f6f4f4;

$accent-color: #ff7517;

$media-color: #f6f4f4;

$font-color: #f6f4f4;

@font-face {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../static/fonts/ArchivoBlack-Regular.ttf);
}

@font-face {
  font-family: "Handwritten";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../static/fonts/IndieFlower-Regular.ttf);
}

@mixin nonSelectingText {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

@mixin primaryFont {
  font-family: "Archivo Black", "Archivo", sans-serif;
}

@mixin handwrittenFont {
  @include nonSelectingText;
  font-family: "Handwritten", sans-serif;
}

@mixin neonFont {
  @include nonSelectingText;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  height: auto;
  color: $primary-color;
  animation: neonAnimation 3s infinite;
}

@keyframes neonAnimation {
  0% {
    text-shadow: -1px -1px 1px $primary-color, -1px 1px 1px $primary-color,
      1px -1px 1px $primary-color, 1px 1px 1px $primary-color,
      0 0 3px $primary-color, 0 0 5px $primary-color, 0 0 10px $primary-color,
      0 0 30px $accent-color, 0 0 30px $accent-color, 0 0 40px $accent-color,
      0 0 70px $accent-color, 0 0 90px $accent-color, 0 0 190px $accent-color;
  }
  50% {
    text-shadow: -1px -1px 1px $primary-color, -1px 1px 1px $primary-color,
      1px -1px 1px $primary-color, 1px 1px 1px $primary-color,
      0 0 5px $primary-color, 0 0 10px $primary-color, 0 0 15px $primary-color,
      0 0 40px $accent-color, 0 0 40px $accent-color, 0 0 50px $accent-color,
      0 0 80px $accent-color, 0 0 100px $accent-color, 0 0 200px $accent-color;
  }
  100% {
    text-shadow: -1px -1px 1px $primary-color, -1px 1px 1px $primary-color,
      1px -1px 1px $primary-color, 1px 1px 1px $primary-color,
      0 0 3px $primary-color, 0 0 5px $primary-color, 0 0 10px $primary-color,
      0 0 30px $accent-color, 0 0 30px $accent-color, 0 0 40px $accent-color,
      0 0 70px $accent-color, 0 0 90px $accent-color, 0 0 190px $accent-color;
  }
}
