@import "../../../styles/config.scss";

$btn-size: 100px;

.container {
  width: 100%;
  height: 100vh;
  background-color: $secondary-color-dark;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    z-index: 2;
    .subheader {
      @include handwrittenFont;
      color: $primary-color;
      font-size: 50px;
      padding: 40px 0 40px;
      background-color: $secondary-color-dark;
    }
    .header {
      @include neonFont;
      font-size: 100px;
      background-color: $secondary-color-dark;
      padding-bottom: 40px;
    }
  }
  .line {
    width: $leading-line-width;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: $primary-color;
    right: calc(50% - #{$leading-line-width} / 2);
  }
}
