@import "../../../styles/config.scss";

$photos-block-width: 1000px;
$container-padding: 50px;
$distance-between-photos: 50px;

.container {
  width: 100%;
  min-height: 100vh;
  background-color: $primary-color;
  padding: $container-padding;
  box-sizing: border-box;
  display: flex;
  position: relative;
  .content {
    display: grid;
    grid-template-columns: $photos-block-width 1fr;
    grid-template-areas: "visual description";
    grid-column-gap: 50px;
    z-index: 2;
    width: 100%;
    .visualBlock {
      grid-area: visual;
      display: flex;
      justify-content: space-around;
      padding: 40px 0;
      box-sizing: border-box;
      .leftColumn,
      .rightColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > * {
          margin-bottom: $distance-between-photos;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
      .leftColumn {
        margin-right: $distance-between-photos;
      }
    }
    .descriptionBlock {
      grid-area: description;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .headerBlock {
        position: relative;
        background-color: $primary-color;
        margin-top: 40px;
        padding: 20px 0 30px;
        hyphens: auto;
        .dateBlock,
        .mottoBlock {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: "Courier New", Courier, monospace;
          color: $secondary-color-dark;
          font-size: 16px;
          position: relative;
          text-transform: uppercase;
          .line {
            flex-grow: 1;
            height: $leading-line-width;
            background-color: $secondary-color-dark;
          }
          .text {
            padding: 0 10px;
          }
        }
        .header {
          @include primaryFont;
          font-size: 70px;
          text-transform: uppercase;
          text-align: center;
          margin: 20px 0;
          color: $secondary-color-dark;
        }
      }
      .descriptionText {
        background-color: $primary-color;
        @include handwrittenFont;
        line-height: 1.7;
        font-size: 30px;
        text-align: center;
        padding-bottom: 20px;
        color: $secondary-color-dark;
      }
    }
  }
}

.container.dark {
  background-color: $secondary-color-dark;
  .content {
    grid-template-columns: 1fr $photos-block-width;
    grid-template-areas: "description visual";
    .descriptionBlock {
      .headerBlock,
      .descriptionText {
        color: $primary-color;
        background-color: $secondary-color-dark;
        .dateBlock,
        .mottoBlock {
          .text {
            color: $primary-color;
          }
          .line {
            background-color: $primary-color;
          }
        }
        .header {
          @include neonFont();
          color: $primary-color;
        }
      }
    }
  }
}

@import "./media.scss";
